package classfile;

import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import util.PaginationResponse;
import util.QueryParam;
import util.ResultVO;
import util.StatusCode;
import model.${ClassName};
import classfile.${ClassName}Service;

/**
 * 描述:
 *      ${functionName}
 * @author yzc
 * @create ${date}
 */
@Api(tags = "${functionName}",description = "${ClassName}Controller")
@RestController
@RequestMapping("/xxxxxx/${className}")
public class ${ClassName}Controller{

    @Autowired
    private ${ClassName}Service ${className}Service;

    @ApiOperation("新增${functionName}")
    @PostMapping("/insert")
    public ResultVO insert(${ClassName} ${className}) {
        int count = ${className}Service.insert(${className});
        return new ResultVO(StatusCode.RESULT_SUCCESS,count);
    }

    @ApiOperation("修改${functionName}")
    @PostMapping("/update")
    public ResultVO update(${ClassName} ${className}) {
        int count = ${className}Service.update(${className});
        return new ResultVO(StatusCode.RESULT_SUCCESS,count);
    }

    @ApiOperation("条件分页查询${functionName}列表")
    @GetMapping("/findList")
    public ResultVO findList(QueryParam param){
        PaginationResponse<${ClassName}> response = ${className}Service.findList(param);
        return new ResultVO(StatusCode.RESULT_SUCCESS,response);
    }

    @ApiOperation("通过id查看${functionName}详细信息")
    @GetMapping("/findById")
    public ResultVO getInfo(Long id) {
        ${ClassName} ${className} = ${className}Service.findById(id);
        if(${className}==null){
            return new ResultVO(StatusCode.DATA_NULL);
        }
        return new ResultVO(StatusCode.RESULT_SUCCESS,${className});
    }

    @ApiOperation("通过id删除${functionName}")
    @GetMapping("/deleteById")
    public ResultVO deleteById(Long id) {
        int count = ${className}Service.deleteById(id);
        if(count==0){
            return new ResultVO(StatusCode.OPERA_DATA_NULL);
        }else {
            return new ResultVO(StatusCode.RESULT_SUCCESS,count);
        }
    }

}
