<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="classfile.${ClassName}Mapper">
  <resultMap id="BaseResultMap" type="model.${ClassName}">
    #foreach( $rsMap in $mapperStr )
    ${rsMap}
    #end
  </resultMap>

  <sql id="Base_Column_List">
     #foreach( $colName in $mapperCol )
    ${colName},
     #end
  </sql>

  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ${tableName}
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="findList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ${tableName}
    where del_flag=0
  </select>

  <update id="deleteById" parameterType="java.lang.Long">
    update ${tableName}
    set del_flag=2
    where id = #{id,jdbcType=BIGINT}
  </update>

  <insert id="insert" parameterType="model.${ClassName}">
    insert into ${tableName}
    <trim prefix="(" suffix=")" suffixOverrides=",">
#foreach( $ins in $mapperIns )
        ${ins}
#end
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
#foreach( $insV in $mapperInsV )
        ${insV}
#end
    </trim>
  </insert>

  <update id="update" parameterType="model.${ClassName}">
    update ${tableName}
    <set>
#foreach( $up in $mapperUp )
        ${up}
#end
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>