package classfile;

import org.apache.ibatis.annotations.Param;
import java.util.List;
import util.QueryParam;
import model.${ClassName};


/**
 * 描述:
 *      ${functionName}
 * @author yzc
 * @create ${date}
 */
public interface ${ClassName}Mapper {

    /**
     * 新增${functionName}
     * @param ${className}
     * @return
     */
    int insert(${ClassName} ${className});

    /**
     * 修改${functionName}
     * @param ${className}
     * @return
     */
    int update(${ClassName} ${className});

    /**
     * 通过id查看${functionName}
     * @param id
     * @return
     */
    ${ClassName} findById(@Param("id") Long id);

    /**
     * 通过id删除${functionName}
     * @param id
     * @return
     */
    int deleteById(@Param("id") Long id);

    /**
     * 条件分页查询${functionName}
     * @param param
     * @return
     */
    List<${ClassName}> findList(QueryParam param);
}
