package classfile;

import util.PaginationResponse;
import model.${ClassName};
import util.QueryParam;

/**
 * 描述:
 *      ${functionName}
 * @author yzc
 * @create ${date}
 */
public interface ${ClassName}Service {

    /**
     * 新增${functionName}
     * @param ${className}
     * @return
     */
    int insert(${ClassName} ${className});

    /**
     * 修改${functionName}
     * @param ${className}
     * @return
     */
    int update(${ClassName} ${className});

    /**
     * 通过id查看${functionName}
     * @param id
     * @return
     */
    ${ClassName} findById(Long id);

    /**
     * 条件分页查询${functionName}列表
     * @param param
     * @return
     */
    PaginationResponse<${ClassName}> findList(QueryParam param);

    /**
     * 通过id删除${functionName}
     * @param id
     * @return
     */
    int deleteById(Long id);

}
