package classfile;

import com.zhzh.pagination.PaginationResponse;
import com.zhzh.model.${ClassName};
import com.zhzh.model.QueryParam;

/**
 * ${functionName}接口
 * @author yzc
 * @date ${date}
 */
public interface ${ClassName}Service {

    /**
     * 新增${functionName}
     *
     * @return int
     */
    int insert(${ClassName} ${className});

    /**
     * 修改${functionName}
     * @return int
     */
    int update(${ClassName} ${className});

    /**
     * 通过id查看${functionName}
     * @return
     */
    ${ClassName} findById(Integer id);

    /**
     * 条件分页查询${functionName}列表
     * @return
     */
    PaginationResponse<${ClassName}> findList(QueryParam param);

    /**
     * 通过id删除${functionName}
     * @return
     */
    int deleteById(Integer id);

}
